.mainCtn {
  width: 90%;
  padding-top: 3%;
  margin: auto;
}

.primaryColor {
  color: #FF6060;
}

.primaryFont {
  font-family: 'Montserrat', sans-serif;
}

.active {
  text-decoration: underline;
}

h1,h2,h3,h4,p,li,span,a {
  font-family: 'Montserrat', sans-serif;
}

