nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navList li {
    font-size: 24px;
    color:#FF6060;
    list-style: none;
    margin-left: 7%;
}

@media screen and (max-width:650px) {
    nav {
        height: 50px;
    }

    nav img {
        height: 50px;
    }
    .navList li {
        font-size: 12px !important;
        margin-left: 7%;
    }
}