nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:0
}

.navList li {
    font-size: 24px;
    color:#FF6060;
    list-style: none;
    margin-left: 7%;
}

.logo {
    margin-top: 0;
}

.unactive {
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .logo {
        width: 45%;
    }
    .logo img {
        width: 100%;
        object-fit: contain;
    }
}