.ctnError {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorTitle {
    font-size: 288px;
    font-family: "Montserrat", sans-serif;
    margin-top:10%;
    margin-bottom: 0;
}

.errorContent {
    font-size: 36px;
    font-weight: 500;
}

a {
    margin-top: 10%;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .errorTitle {
        font-size: 96px;
        margin-top: 50%;
    }

    .errorContent {
        font-size: 18px;
    }

    a {
        font-size: 14px;
        margin-top: 30%;
    }
}